//COLORS
$color-primary: #55c57a;
$color-primary-dark: #669900cc;
$color-primary-light: #cccc00cc;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-green-dark: #005000;
$color-grey: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-white: #fff;
$color-black: #000;
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;
$color-gold: #ffd700;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 8rem;

//SHADOW
$box-shadow-default:0 1.5rem 4rem rgba($color-black, .15);